div{
	position: absolute;
	float:top;
	top:0;
	/* left: 6%; */
	width:100%;
	height:12.2%;
	background: #1874CD;
	text-align:center;
	/* margin:0 auto; */
	/* align-items: center; */
	
}
.tab{
	position: relative;
	background: white;
	top:74.5%;
	width: 100%;
	height:25%;
	color:black;
}
nav{
	position: absolute;
  z-index:4;
	float:left;
	/* margin-left:50px; */
	/* position: relative; */
	position: absolute;
	/* margin:0; */
	top:30%; 
	left:6%;
	margin:0 auto;
	/* margin:0% 10% 0% 10%;上右下左 */
	/* margin-left: auto;
	margin-right: auto; */
}
img{
	position: relative;
	top:5%;
	left: 0.2%;
	float:left;
	width: 5.5%;
	/* height: 100%; */
}
/* main menu */
ul{
    padding: 0;
	margin: 0;
	height: 30px;
    list-style-type: none;
}
ul li:hover{          
	opacity: 0.8;        
}
ul li a{
	float: left;
	position: relative;
	color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 150px;
}
 ul li,ul li :visited{ 
    float: left;
	position: relative;
	color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 150px;
}

/* second menu */
ul li ul{
  /* width:150px; */
  height:50px;
  background: rgb(30, 118, 207);
  display:none;
  padding: 2px;
}
ul li:hover ul{
  display:block;
}
/* thire menu */
ul li ul li ul{
	left: 150px;
	top: -20px;
	height:70px;	
	padding: 2px;
	background: rgb(36, 123, 209);
	position: relative;
	display:none;
}
/* ul li ul li ul li:hover{          
	opacity: 0.9;        
} */
ul li ul li:hover ul{
	display:block;
}  
.Pontology:hover + .Eontology{
	top:-74px;
}
.tablabel{
	position: relative;
	left:1%;
	color: black;
}
.openfile{
	display: none;
}

.disable:hover{
	  opacity: 1;
	  cursor: not-allowed;
}
