div{
	position: absolute;
	float: left;
	top:12.2%;
	left: 30%;
	width:3%;
	height:83%;
	border-color:#1874CD;
	border-width:10px;
	/* border-right:1px solid #000; */
	/* background: #D1EEEE; */
	/* background-color: GhostWhite; */
}
.title{
	position:relative; 
	width:100%;
	color: white;
	background: #36648B;
	margin-bottom:1px;
	cursor: default;
}
ul{
    padding: 0;
	margin: 0;
    list-style-type: none;
}
button{
	position: relative;
	margin:25% 20% 25% 20%;/*��������*/
	width:60%;
	
	display: inline-flex;
	align-items: center;
	/* padding: 8px 16px; */
	/* border-radius: 2px; */
	/* font-size: 14px; */
	cursor: pointer;
	/* background-color: GhostWhite; */
	background-color: white;
	border: none;
}
button:hover {
	background-color:lavender;
  	opacity: 0.5;
  	font-weight: normal;
}

button:disabled {
  	/* opacity: 0.5; */
  	cursor: auto;
}
img{
	position: relative;
	width:100%;
	height:100%;
	text-align:center;
	align-self:center;
}
.disable button{
	background: #DCDCDC;
	cursor: not-allowed;
}
.disable button:hover{
	background-color: #DCDCDC;
  	opacity: 1;
}