.all{
	position: absolute;
	top:12.2%;
	right: 0;
	/* left:93%; */
	width:17%;
	height:85.5%;
	background: #1874CD;
	float:right;
	overflow-y:auto; 
	/* overflow-x:auto; */
	white-space: nowrap;
	color:white;
}
button{
	position: relative;
	margin:0% 5% 8% 15%;	
	display: inline;
	/* align-items: center; */
	padding: 8px 16px;
	border-radius: 2px;
	font-size: 14px;
	cursor: pointer;
	background-color: GhostWhite;
	border: none;
}


button:hover {
	background-color:lavender;
  	/* opacity: 0.8; */
  	font-weight: normal;
}
button:disabled {
  	/* opacity: 0.5; */
	  cursor: auto;
	  color:red;
}
span { 
	position:relative; 
	/* right:10px;  */
	/* top:8px;  */
	cursor: pointer; 
	width: 100%;
	background: #36648B;
}
ul{
    padding: 0;
	margin: 0;
    list-style-type: none;
}
ul li ul li ul li{
	position:relative; 
	left:12%;
}
/* th{
	min-width:200px 
} */
.title{
	position:relative; 
	width:100%;
	background: #36648B;
	margin-bottom:1px;
	cursor: pointer;
}
.content{
	position: relative; 
	/* width:100%; */
	background:#1874CD;
	cursor: default;
	overflow-x:auto;
	overflow-y:auto;
}
.list{
	position: relative; 
	list-style-type: disc;
	background:#1874CD;
	cursor: default;
	overflow-x:auto;
	overflow-y:auto;
}
.list ul li{
	list-style-type: disc;
	position: relative; 
	float: left;
	left:0;
}
.list ul li ul{
	position: relative; 
	left:10%;
}
.list ul li ul li{
	position: relative; 
	left:10%;
}
.selected {
  background-color: #CFD8DC;
  color: white;
}
.selectedli{
	color: #CFD8DC;
}
